basePath: /
definitions:
  domain.Order:
    properties:
      createdAt:
        type: string
      id:
        type: integer
      productId:
        type: integer
      quantity:
        type: integer
      status:
        $ref: '#/definitions/domain.OrderStatus'
      totalPrice:
        type: number
      updatedAt:
        type: string
      userId:
        type: integer
    type: object
  domain.OrderStatus:
    enum:
    - pending
    - inProgress
    - done
    - canceled
    type: string
    x-enum-varnames:
    - StatusPending
    - StatusInProgress
    - StatusDone
    - StatusCanceled
  domain.Product:
    properties:
      description:
        type: string
      id:
        type: integer
      imgUrl:
        type: string
      price:
        type: number
      title:
        type: string
    type: object
host: localhost:8080
info:
  contact:
    email: rihanulislam2015@gmail.com
    name: Raihanul Islam Sharif
    url: https://github.com/raihanuldev
  description: API documentation for my backend project using net/http
  termsOfService: http://swagger.io/terms/
  title: My Go Backend API
  version: "1.0"
paths:
  /order:
    get:
      description: Retrieve a paginated list of all orders
      parameters:
      - description: Page number
        in: query
        name: page
        type: integer
      - description: Limit per page
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/domain.Order'
            type: array
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Get all orders
      tags:
      - Orders
  /products:
    get:
      description: Retrieve a list of all available products
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/domain.Product'
            type: array
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Get all products
      tags:
      - Products
  /products/{id}:
    get:
      description: Retrieve a specific product using its unique ID
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domain.Product'
        "404":
          description: Not Found
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Get product by ID
      tags:
      - Products
swagger: "2.0"
